/* Styles for carousel */
.carousel-item > div {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
}

.carousel {
   z-index: 1;
   height: 100vh;
}

.carousel div {
   width: 100vw;
   height: 100vh;
}

.carousel1{
   background-attachment: fixed;
   background-image: url('../images/slideshow/a.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.carousel2 {
   background-attachment: fixed;   
   background-image: url('../images/slideshow/b.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.carousel3 {
   background-attachment: fixed;   
   background-image: url('../images/slideshow/c.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.carousel4 {
   background-attachment: fixed;   
   background-image: url('../images/slideshow/d.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

hr.carousel_hr {
   border-width: 1px;
   width:120px;
   line-height: 1px;
   border-color: white;
}

.caption {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: 10;
}

.caption > div {
   max-width: 960px;
   margin: 0 auto;
   height: initial;
}

.carousel-text-head {
   color: white;
   position: relative;
   font-size: 70px !important;
   font-family: 'Quicksand' !important;
   line-height: 1px;
}

.carousel-text-content {
   color: white;
   position: relative;
   font-size: 20px !important;
   font-family: 'Raleway' !important;
}

/* Styles for welcome content */
/* This content is just below carousel */
.welcome-section {
   text-align: center;
   margin: 0 auto;
   padding: 130px 0px;
}

p.welcome-section-heading {
   font-size: 40px;
   line-height: 1px;
   color: rgb(22, 24, 49);
   font-family: 'Raleway', sans-serif;
}

p.sub-text {
   font-size: 16px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   color: grey;
   line-height: 1px;
}

img.underline {
   line-height: 1px; 
   width: 35%;
}

.welcome-section-content {
   font-size: 18px;
   color: black;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Styles for Our Qualities Section */
.qualities-container {
   background-color: rgb(22, 34, 49);
   background-image: url('../images/things/quality-container-img.jpg');
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
}

.quality-container-position {
   background-color: rgba(0, 0, 0, 0.829);
   padding: 50px 0px;
}

.quality-cards-wrapper {
   max-width: 1080px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 4fr);
}

#quality-card {
   text-align: center;
   margin: 0 auto;
   color: white;
   padding: 10px;
}

#quality-card > i {
   font-size: 90px;
   color: white;
}

.quality-card-heading {
   font-size: 25px;
   font-family: 'Quicksand', sans-serif;
}

.quality-card-description {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 18px;
}

/* Styles for contact options */
.contact-options-container {
   background-color: rgb(22, 34, 49);
   padding: 0px 0px;
   display: grid;
   grid-template-columns: 6fr 6fr;
}

.contact-options-container > div, .contact-options-container > div > a {
   text-align: center;
   font-size: 16px;
   color: white;
}

.contact-option {
   font-family: 'Quicksand', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Styles for Q/A Section */
.QA-section-parent {
   padding: 30px;
   background-color: rgb(22, 34, 49);
}

.QA-section-wrapper {
   max-width: 1080px;
   display: block;
   margin: 0 auto;
}

.QA-section-header {
   font-size: 40px;
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   line-height: 1px;
   color: white
}

.QA-container {
   padding: 20px 0px;
}

.question-container-1, .question-container-3 {
   display: grid;
   grid-template-columns: 4fr 8fr;
   grid-gap: 10px;
}

.question-container-2 {
   display: grid;
   grid-template-columns: 8fr 4fr;
   grid-gap: 10px;
}

.question-on-large-only {
   font-size: 40px;
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   color: white;
}

.question-on-small-and-med {
   display: none;
}

.question {
   font-size: 40px;
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   color: white;
}

.answer {
   font-size: 17px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   text-align: center;
}

/* Styles for our services */
.services-super-parent {
   background-image: url('../images/things/services-container-img.jpg');
   background-size: cover;
   background-position: center center;
   color: white;
   background-attachment: fixed;
}

.services-wrapper {
   max-width: 1080px;
   margin:auto;
   display: block;
   padding: 30px;
}

.services-section-header {
   line-height: 1px;
   font-size: 40px;
   text-align: center;
   font-family: 'Quicksand', sans-serif;
}

.services-container {
   display: grid;
   grid-template-columns: repeat(3, 4fr);
   grid-gap: 15px;
}

.service-number {
   text-align: left;
   line-height: 10px;
}

.service-number > span:nth-child(1) {
   font-size: 30px;
   color: grey;
   border-bottom: 5px solid grey;
}

.service-number > span:nth-child(2) {
   color: white;
   font-size: 40px;
}

.service-header{
   font-size: 18px;
   font-family: 'Quicksand', sans-serif;
}

.service-body {
   color: white;
   font-size: 16px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}