/* These are the styles fot nav in large screens */
nav#large-screen-nav {
   background-color: rgb(22, 34, 49);
   position: fixed;
   z-index: 50;
   box-shadow: none !important;
   padding: 0 10px;
   display: none;
   animation-duration: .7s;
   animation-name: top;
}

.firm-name {
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 35px;
}

.firm-logo {
  padding: 10px;
  width: 20%;
}

li a {
   z-index: 60;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white !important;
   font-size: 17px !important;
}

#large-screen-nav > .nav-wrapper > #nav-mobile > li > a:hover {
   background: transparent !important;
   border-bottom: 2px solid white;
}

/* These are the styles for dropdown for nav in large screesn */
.dropdown-trigger {
   outline: none;
}

.dropdown-content {
   width: 330px !important;
   overflow: visible !important;
   background-color: rgb(22, 34, 49);
}

#services-subsection-1,
#services-subsection-2,
#services-subsection-3 { 
   margin-left: 100%;
   position: relative;
}

.dropdown-content > li > a {
   padding: 20px;
   font-family: 14px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white !important;
   background-color: rgb(22, 34, 49) !important;
}

.dropdown-content > li > a:hover {
   background: white !important;
   color: rgb(22, 34, 49) !important;
}


/* These are the styles for nav in small and medium sized screens */

nav#small-screen-nav {
   padding: 0px;
   z-index: 20;
   position: fixed;
   background-color: rgba(128, 128, 128, 0.39);
   box-shadow: none;
}

.sidenav-follow-links {
  padding: 0px 15px;
  transition: .2s;
  cursor: pointer
}

.sidenav-follow-links:hover {
  font-size: 20px;
}

img.firm-logo-sidenav {
   width: 90%;
   display: block;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}

/* 
ul#slide-out li:nth-child(1) {
   margin-top: 20px;
   margin-bottom: 40px;
} 
*/

ul.collapsible {
   border: none !important;
}
.collapsible > li > div > a {
   padding: 0;
}

.collapsible-header {
   font-size: 17px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
}

.collapsible-body > ul > li > a{
   font-size: 13px !important;
   color: rgb(22, 34, 49) !important;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.collapsible > li > .collapsible-body > ul > li > a:hover {
   background-color: white !important;
}

.collapsible-body > ul > li > .collapsible-header,
.collapsible-body > ul > li > .collapsible-header > a
{
   font-size: 13px !important;
   color: rgb(22, 34, 49) !important;
   padding: 0px !important;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.collapsible-body > ul > li > .collapsible-body > ul > li > a{
   font-size: 12px !important;
   color: rgb(22, 34, 49) !important;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.collapsible-body > ul > li > .collapsible-header:hover {
   background: white !important;
}

.collapsible .collapsible {
   margin: 0;
 }

/*.collapsible-header {
   padding: 0px 10px !important;
}*/

#slide-out {
   background-color: rgb(22, 34, 49);
}

#slide-out > li a > i {
   color: white;
} 

#slide-out > li > div:not(.collapsible-header) {
   color: white;
   padding-left: 15px;
}

/* Styles for sub nav */
/* This nav conatains EMAIL ID, PHONE NO AND FOLLOW US links */
nav#sub-nav {
   padding: 0px 10px;
   box-shadow: none;
   z-index: 15;
   position: absolute;
   background-color: rgb(22, 34, 49, 0.3);
   /* border-bottom: 1px dotted rgb(22, 34, 49); */
}

.subnav-phone-link {
   display: inline-block;
}

.subnav-follow-link:hover {
   background-color: transparent;
}

.slash {
   color: white;
   font-size: 18px;
   padding: 10px;
}

.sub-nav-follow-links {
   cursor: pointer;
   padding: 0px 20px;
   transition: .5s;
}

.sub-nav-follow-links:hover {
   transform: rotate(360deg);
}

#sub-nav .nav-wrapper #nav-mobile > li {
   color: white;
   font-size: 18px;
   cursor: pointer;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

