/* These are the styles fot nav in large screens */
nav#large-screen-nav {
   background-color: rgb(22, 34, 49);
   position: fixed;
   z-index: 5;
   box-shadow: none !important;
   padding: 0 10px;
   display: none;
}

.firm-name {
   color: white;
   font-family: 'Raleway', 'Quicksand';
   font-size: 35px;
}

.firm-logo {
   padding: 10px;
   width: 25%;
}

li a {
   font-family: 'Quicksand', sans-serif;
   color: white !important;
   font-size: 15px !important;
}

#large-screen-nav > .nav-wrapper > #nav-mobile > li > a:hover {
   background: transparent !important;
   border-bottom: 2px solid white;
}

/* These are the styles for dropdown for nav in large screesn */
.dropdown-trigger {
   outline: none;
}

.dropdown-content {
   width: 330px !important;
   overflow: visible !important;
   background-color: rgb(22, 34, 49);
}

#services-subsection-1,
#services-subsection-2,
#services-subsection-3 { 
   margin-left: 100%;
   position: relative;
}

.dropdown-content > li > a {
   padding: 20px;
   font-family: 14px;
   font-family: 'Quicksand', sans-serif;
   color: white !important;
   background-color: rgb(22, 34, 49) !important;
}

.dropdown-content > li > a:hover {
   background: white !important;
   color: rgb(22, 34, 49) !important;
}

/* These are the styles for search box in nav */
.modal {
   padding: 20px 15px;
   background-color: rgb(22, 34, 49);
}

label {
   font-size: 30px;
   color: white !important;
   font-family: 'Quicksand', sans-serif;
}

.search-heading { 
   line-height: 10px;
   font-size: 40px;
   text-align: center;
   color: white;
   font-family: 'Quicksand', sans-serif;
}

.modal-content > .input-field input[type=text] {
   font-size: 20px;
   color: white;
   font-family: 'Quicksand', sans-serif;
}

.search_btn {
   background-color:  white;
   font-size: 25px;
   text-transform: capitalize;
   color: rgb(22, 34, 49);
   font-family: 'Quicksand', sans-serif;
}

.search_btn > span i {
   color: rgb(22, 34, 49);
}

.search_btn:hover {
   background-color: white;
   padding: 0 35px;
}

/* These are the styles for nav in small and medium sized screens */

nav#small-screen-nav {
   padding: 0px;
   z-index: 20;
   position: fixed;
   background-color: transparent;
   box-shadow: none;
}

img.firm-logo-sidenav {
   width: 90%;
   display: block;
   margin: auto;
}

ul#slide-out li:nth-child(1) {
   margin-top: 20px;
   margin-bottom: 20px;
}

#slide-out {
   background-color: rgb(22, 34, 49);
}

#slide-out > li a > i {
   color: white;
} 